.forgot-password-section {
    margin: 3rem auto;
    width: 95%;
    max-width: 50%;
    text-align: center;
    box-shadow: 0 1px 4px rgba(0,0,0,0.5);
    padding: 60px;
    margin-top: 8rem;
    background-color: rgb(71, 65, 65);
    border-radius: 8px;
    padding-bottom: 30px;
}

.forgot-password-section header {
    font-size: 30px;
    font-weight:bolder;
    margin-top: -20px;
    padding-bottom: 40px;
    color:rgb(241, 155, 26) ;
}

.forgot-password-section label{
    color: white;
}

.forgot-password-section input{
   width: 95%;
   padding: 4px;
   margin: 4px;
   margin-top: 10px;
}

.password-action{
    margin-top: 1.5rem;
}

.password-action p{
    color:white;
}

.password-action button {
    background-color: rgb(252, 223, 168);
    border: 1px solid rgb(236, 170, 72);
    padding: 5px;
    font-weight: bolder;
}

.password-action button:hover{
    background-color:rgb(253, 195, 86) ;
}

p {
    color: rgb(255, 174, 0);
}