.welcome {
    display: flex;
    justify-content: space-between;
    padding: 0px 35px 0px 10px;
    border-bottom: 1px solid black;
    align-items: center;
}

.welcome p{
    background-color: bisque;
    align-self: center;
    padding: 5px;
    border-radius: 25px;
    margin-top: 5px;
}

.actions-logout {
    display: flex;
    flex-direction: column;
}

.actions-logout button{
    width: 80px;
    align-self: center;
    background-color: rgb(241, 108, 108);
    border: 1px solid ;
    margin-bottom: 5px;
    font-weight: bolder;
    padding: 5px;
}

.actions-logout button:hover{
    background-color: rgb(235, 150, 150);
}

.actions {
    margin-top: 1rem;
    text-align: center;
}

.actions button{
    background-color:violet;
    border: 1px solid green;
    padding: 8px;
    font-weight: bolder;
    font-size: medium;
    margin-right: 1rem;
}

.actions button:hover{
    background-color:blueviolet;
}